# -------------------------------------------------------------------
#   MiniClock config example file. For settings to take any effect,
#     copy or rename this file to .addons/miniclock/miniclock.cfg.
# -------------------------------------------------------------------

#
# To uninstall, set to 1
#
uninstall=0

#
# listen to touchscreen events
# listen to button events (will patch nickel, only active after reboot)
# if you set both to 0, MiniClock will still show as per update frequency
#
touchscreen=1
button=0

#
# Update frequency: (update once every 60 seconds)
#
update=60

#
# Delay: (update delay 1 second repeat 3 times)
#
delay=1 1 1

#
# Repeat: (deprecated setting, use multiple delay instead)
#
# repeat=3
#

#
# Date format string ( see 'man strftime' )
#
# In addition may also use {month}, {day}, {battery}.
# (Look for battery and locale settings further below).
#
format=%a %b %d %H:%M

#
# Where to print the clock
#
offset_x=0
offset_y=0

#
# Font:  (IBM, UNSCII, ALT, THIN, FANTASY, MCR, TALL, BLOCK,
#         LEGGIE, VEGGIE, KATES, FKP, CTRLD, ORP, ORPB, ORPI,
#         SCIENTIFICA, SCIENTIFICAB, SCIENTIFICAI)
#
font=IBM

#
# Font Size:
#
size=0

#
# Color: (BLACK GRAY{1-9A-E} WHITE)
#
fg_color=BLACK
bg_color=WHITE

#
# TrueType support:
#
# For fonts inside the MiniClock directory:
#     truetype=yourfont.ttf
#
# For fonts stored elsewhere in the filesystem:
#     truetype=/mnt/onboard/fonts/something.ttf
#
# Only set these if you use *italic*, **bold**, ***bold italic*** in your format string:
#
#     truetype_format=*%a* **%b** ***%d*** %H:%M
#     truetype_bold=yourfont-bold.ttf
#     truetype_italic=yourfont-italic.ttf
#     truetype_bolditalic=yourfont-bolditalic.ttf
#
# Technically, this can also be used for completely different font styles,
# instead of italic or bold variants of the same font.
#
# NOTE: Will fall back to regular mode when font file is unavailable.
#       (e.g. while the device is connected to USB)
#
truetype_size=16
truetype_x=0
truetype_y=0
truetype_fg=BLACK
truetype_bg=WHITE

#
# TrueType Padding helps prevent visual fragments to appear
# at the cost of adding extra whitespace. Set to 0 to disable.
#
truetype_padding=1

#
# NightMode support:
#
nightmode_file=/mnt/onboard/.kobo/nightmode.ini
nightmode_key=invertActive
nightmode_value=yes

#
# Battery percentage value (0-100%)
#
# Use {battery} in the format string.
#
# Will only be used if the battery is between min max.
# Default: only shown when battery level drops to 50% and under.
battery_min=0
battery_max=50
# battery_source=/sys/devices/platform/pmic_battery.1/power_supply/mc13892_bat/capacity

#
# Localization (translate Month and Day names)
#
## Set day names, Monday -> Sunday (7 words)
## Use {day} in the format string to use this.
#
#days=Mon Tue Wed Thu Fri Sat Sun
#
## Set month names, January -> December (12 words)
## Use {month} in the format string to use this.
#
#months=Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec
#
