KERNEL=="loop0", ACTION=="add", RUN+="/usr/local/ScreenSaver/screensaver.sh"
SUBSYSTEM=="module", DEVPATH=="/module/g_file_storage", ACTION=="remove", RUN+="/usr/local/ScreenSaver/screensaver.sh"
