KERNEL=="loop0", ACTION=="add", RUN+="/usr/local/HyphenDicts/hyphendicts.sh"
KERNEL=="fsl-usb2-udc", ACTION=="remove", RUN+="/usr/local/HyphenDicts/hyphendicts.sh"
